*{
    margin: 0;
    box-sizing: border-box;


}
body{
    display: flex;
    justify-content: center;
}

.container{
    height: 30px;
    width: 70px;
    background:black;
    border-radius: 30px;
    cursor: pointer;

}

.circulo{
    transition: all 0.3s;
    height: 30px;
    width: 30px;
    background: blue;
    border-radius: 50%;
    position: relative;
    top: 0;
    left: 0;

}
.background{
    transition: all 0.3s;
    width: 0px;
    height: 30px;
    background: yellowgreen;
    border-radius: 30px;
}

